{
  "extends": ["standard", "standard-react"],
  "globals": [
    "describe",
    "before",
    "beforeEach",
    "after",
    "afterEach",
    "it",
    "expect",
    "should",
    "sinon",
    "proxyquire"
  ]
}